<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">@Text.SHA512Hash</h2>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-md-8">
                <textarea maxlength="1000000" class="form-control" placeholder="@Text.WriteTextToHash" rows="5" id="inputEncrypt"></textarea>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div class="column">
            <span class="col-md-8">
                <label class="input-group">
                    <span class="btn btn-success" style="margin-top: 5px;" title="Kliknij, aby wczytać plik tekstowy z komputera">
                        Wczytaj z pliku<input id="fileText" accept="text/plain" type="file" onchange="loadFileAsText()" style="display: none;">
                    </span>
                </label>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-md-8">
                <textarea class="form-control" placeholder="@Text.Hash" rows="2" id="outputEncrypt" disabled></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <span class="col-md-8">
            <button style="margin-top: 5px;" class="btn btn-success" id="saveButton" onclick="saveTextAsFile()" type="submit" title="Przed zapisaniem skrótu musisz go najpierw obliczyć" disabled>Zapisz do pliku</button>
            <button style="margin-top: 5px; padding-left:30px; padding-right: 30px;" class="btn btn-primary" id="encryptButton" type="submit" title="Tekst do obliczenia skrótu musi zostać wpisany" disabled>Oblicz</button>
            <button style="margin-top: 5px; margin-bottom: 5px; float: right;" class="btn btn-danger" id="clearButton" title="Kliknij, aby wyczyścić wszytkie pola tekstowe" type="submit">Wyczyść wszystko</button>
        </span>
    </div>
</div>

<script>
        var sha512Init = SHA512FunctionInit({
        urls: {
            encryptUrl: '@Url.Action("SHA512Encrypt", "HashFunctions")'
        }
    });

    sha512Init.init();
</script>
