@model CryptoWebService.Models.HashFunctions.MD5ViewModel
@using CryptoWebService.Backend.HashFunctions
@{
    ViewData["Title"] = "MD5";
}
<script src="~/js/hash/HashFunctions.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/hash_functions.css">

<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Working')">@Text.Action</button>
        <button class="tablinks" onclick="openTab(event, 'Calculator')">@Text.Calculator</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 align="center">@Text.MD5Hash</h2>
        <p>
            MD5(Messsage Digest 5) jest funkcją skrótu zaprojektowaną przez współautora RSA- R.Rivesta. MD5 przeekształca ciągi 512-bitowe w ciągi 128-bitowe będące skrótem wiadomości. Funkcja była najbardziej
            popularną funkcją skrótu od roku 1992 do roku 2005, kiedy została złamana przez zespół chińskich kryptoanalityków.
        </p>
        <p>
             W obecnych czasach znalezienie kolizji MD5 zajmuje kilka sekund, mimo to
            wiele systemów ciągle obsługuje MD5, ze względu na kompatybilnosć wsteczną. Funkcja jest łatwa do zaimplementowania, w trakcie obliczeń dokonywane są jedynie pewne podstawowe operacje na
            blokach 32-bitowych.
        </p>
    </div>

    <div id="Working" class="tabcontent col-lg-12">
        <h2>Działanie algorytmu krok po kroku</h2>                                                                                                                         



    </div>

    <div id="Calculator" class="tabcontent col-lg-12">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 align="center">@Text.MD5Hash</h2>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-md-8">
                        <textarea class="form-control" placeholder="@Text.WriteTextToHash" rows="5" id="inputEncrypt"></textarea>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <div class="column">
                    <span class="col-md-8">
                        <button style="margin-top: 5px; margin-bottom: 5px" class="btn btn-primary" id="loadButton" type="submit">Wczytaj z pliku</button>
                        <button style="margin-top: 5px; margin-bottom: 5px" class="btn btn-primary" id="clearButton" type="submit">Wyczyść wszystko</button>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-md-8">
                        <textarea class="form-control" placeholder="@Text.Hash" rows="1" id="outputEncrypt" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <span class="col-md-8">
                    <button style="margin-top: 5px" class="btn btn-primary" id="encryptButton" type="submit">Oblicz</button>
                </span>
            </div>
        </div>
    </div>




</div>


        <script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }



    //Ajax
    var md5Init = MD5FunctionInit({
        urls: {
            encryptUrl: '@Url.Action("MD5Encrypt", "HashFunctions")'
        }
    });

    md5Init.init();
        </script>
