@model CryptoWebService.Models.HashFunctions.HashViewModel
@using CryptoWebService.Backend.HashFunctions
@{
    ViewData["Title"] = "SHA1";
}
<script src="~/js/hash/HashFunctions.js"></script>


<div class="container">
    <div class="tab">
        <button id="defaultPageButton" class="tablinks" onclick="openTab(event, 'Description')">@Text.Description</button>
        <button class="tablinks" onclick="openTab(event, 'Visualization')">@Text.Visualization</button>
        <button class="tablinks" onclick="openTab(event, 'Tools')">@Text.Action</button>
    </div>

    <div id="Description" class="tabcontent">
        <h2 class="title">@Text.SHA1Hash</h2>
        <p class="description">
            SHA (Secure Hash Algorithm) – rodzina powiązanych ze sobą kryptograficznych funkcji skrótu. SHA-1 opublikowany został w 1995 i całkowicie zastąpił wycofany
            (ze względu na nieujawnione oficjalnie wady) z użytku SHA-0. Funkcja tworzy 160-bitowy skrót z wiadomości o maksymalnym rozmiarze 2^64 bitów
            i działa na podobnych zasadach co MD5.
            <br>
            <br>
            W 2005 roku uczeni znaleźli słabości w SHA-1 i ocenili, że znalezienie kolizji zajmie w przybliżeniu 2^63 obliczeń.
            Ta liczba miałaby wartość 2^80, jeśli algorytm byłby bez wad. Przeglądarka Chrome oznacza witryny wykorzystujące SHA-1 jako niebezpieczne.
            W 2001 powstały cztery następne warianty określane jako SHA-2 (SHA-224, SHA-256, SHA-384, SHA-512).
        </p>
    </div>

    <div id="Visualization" class="tabcontent col-lg-12">
        <h2>Działanie algorytmu krok po kroku</h2>
    </div>

    <div id="Tools" class="tabcontent col-lg-12">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2 align="center">@Text.SHA1Hash</h2>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-md-8">
                        <textarea class="form-control" placeholder="@Text.WriteTextToHash" rows="5" id="inputEncrypt"></textarea>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <div class="column">
                    <span class="col-md-8">
                        <button style="margin-top: 5px; margin-bottom: 5px" class="btn btn-primary" id="loadButton" type="submit">Wczytaj z pliku</button>
                        <button style="margin-top: 5px; margin-bottom: 5px" class="btn btn-primary" id="clearButton" type="submit">Wyczyść wszystko</button>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-md-8">
                        <textarea class="form-control" placeholder="@Text.Hash" rows="1" id="outputEncrypt" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <span class="col-md-8">
                    <button style="margin-top: 5px" class="btn btn-primary" id="encryptButton" type="submit">Oblicz</button>
                </span>
            </div>
        </div>
    </div>




</div>


<script>

    document.getElementById("defaultPageButton").click();

    function openTab(evt, tabName) {
        var i;
        var tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        var tabLinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }



    //Ajax
    var sha1Init = SHA1FunctionInit({
        urls: {
            encryptUrl: '@Url.Action("SHA1Encrypt", "HashFunctions")'
        }
    });

    sha1Init.init();
</script>
