@using CryptoWebService.Backend.ClassicalCiphers
<link rel="stylesheet" type="text/css" href="~/css/ciphers_visualization.css">

<h2 align="center">Szyfr afiniczny wizualizacja </h2>
<div class="col-md-12" style="margin-top:30px">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <label for="keyCipherA">@Text.AffineCipherKeyA</label>
                <select id="keyCipherA" class="form-control">
                    @{
                        for (int i = 1; i <= 50; i += 2)
                        {
                            @Html.Raw("<option value=" + i + ">" + i + "</option>")
                        }
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label for="keyCipherB">@Text.AffineCipherKeyB</label>
                <select id="keyCipherB" class="form-control">
                    @{
                        for (int i = 0; i <= 50; i++)
                        {
                            @Html.Raw("<option value=" + i + ">" + i + "</option>")
                        }
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="alphabetVizualization">@Text.ChooseAlphabet</label>
                <select id="alphabetVisualization" class="form-control">
                    @{
                        for (int i = 0; i < Alphabets.AVAILABLE_ALPHABETS_NAME.Length; i++)
                        {
                            @Html.Raw("<option value=" + i + ">" + Alphabets.AVAILABLE_ALPHABETS_NAME[i] + "</option>")
                        }
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="margin-top:30px; margin-bottom:20px;">
    <row>
        <div class="col-md-8">
            <textarea maxlength="50000" placeholder="Wpisz tekst do zaszyfrowania" class="form-control" rows="1" id="inputCipher"></textarea>
        </div>
        <div>
            <button id="startButton" style="float: left; margin-right:10px;" class="btn btn-primary" disabled>Wizualizacja</button>
            <button id="nextButton" style="float: left;" class="btn btn-success" disabled>Następny krok</button>
        </div>
    </row>
</div>

<div class="col-md-12" style="margin-left:12px;">
    <div id="cipherOutput"></div>
</div>

<div class="col-md-12" style="margin-left:12px;margin-top:10px">
    <row>
        <div id="calculations"></div>
    </row>
</div>

<div id="marginTable" class="col-md-12" style="margin-left:16px;margin-top:10px">
    <row>
        <div id="alphabetsTable"></div>
    </row>
</div>


<div>
    <textarea class="form-control" rows="1" id="stepNumber" style="display:none">1</textarea>
</div>

<script>
      //Ajax
    var affineInit = AffineVisualizationInit({
        urls: {
            visualizationUrl: '@Url.Action("AffineVisualization", "ClassicalCiphers")',
        }
    });

    affineInit.init();
</script>
