@using CryptoWebService.Backend.ClassicalCiphers
<link rel="stylesheet" type="text/css" href="~/css/ciphers_visualization.css">

<h2 class="title">Szyfr Cezara wizualizacja </h2>
<div class="col-md-12" style="margin-top:30px">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label for="keyVisualization">@Text.Key</label>
                <select id="keyVisualization" class="form-control">
                    @{
                        for (int i = 1; i <= 50; i++)
                        {
                            @Html.Raw("<option value=" + i + ">" + i + "</option>")
                        }
                    }
                </select>
            </div>
            <div class="col-md-6">
                <label for="alphabetVisualization">@Text.ChooseAlphabet</label>
                <select id="alphabetVisualization" class="form-control">
                    @{
                        for (int i = 0; i < 6; i++)
                        {
                            @Html.Raw("<option value=" + i + ">" + Alphabets.AVAILABLE_ALPHABETS_NAME[i] + "</option>")
                        }
                    }
                </select>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="margin-top:30px; margin-bottom:40px;">
    <row>
        <div class="col-md-8">
            <textarea maxlength="50" placeholder="Wpisz tekst do zaszyfrowania" class="form-control" rows="1" id="inputCipher"></textarea>
        </div>
        <div>
            <button id="startButton" style="float: left; margin-right:10px;" class="btn btn-primary" disabled>Wizualizacja</button>
            <button id="nextButton" style="float: left;" class="btn btn-success" disabled>Następny krok</button>
        </div>
    </row>
</div>

<div class="col-md-11" style="margin-left:12px;">
    <div class="tableHorizontal">
        <div id="cipherOutput"></div>
    </div>    
</div>

<div class="col-md-11" style="margin-left:16px;margin-top:30px;">
    <div class="tableHorizontal">
        <row>
            <div id="cesarTable"></div>
        </row>
    </div>
</div>

<div>
    <textarea class="form-control" rows="1" id="stepNumber" style="display:none">1</textarea>
</div>

<script>
      //Ajax
    var caesarInit = CaesarVisualizationInit({
        urls: {
            visualizationUrl: '@Url.Action("CaesarVisualization", "ClassicalCiphers")',
        }
    });

    caesarInit.init();
</script>
