@using CryptoWebService.Backend.ClassicalCiphers
<h2 align="center">Szyfr Playfair'a</h2>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <h2 align="center">@Text.Encryptor</h2>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label for="keyEncrypt">@Text.Key</label>
                <textarea class="form-control" rows="1" id="keyEncrypt"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label for="inputEncrypt">@Text.WriteTextToEncrypt</label>
                <textarea class="form-control" rows="5" id="inputEncrypt"></textarea>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label for="outputEncrypt">@Text.EncryptedText</label>
                <textarea readonly class="form-control" rows="5" id="outputEncrypt"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="col-md-6">
            <button style="margin-top: 5px" class="btn btn-primary" id="encryptButton" type="submit">@Text.Encrypt</button>
        </span>
    </div>
</div>

<div class="col-md-6">
    <div class="row">
        <div class="col-md-12">
            <h2 align="center">@Text.Decryptor</h2>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label for="keyDecrypt">@Text.Key</label>
                <textarea class="form-control" rows="1" id="keyDecrypt"></textarea>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label for="inputDecrypt">@Text.WriteTextToDecrypt</label>
                <textarea class="form-control" rows="5" id="inputDecrypt"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <label for="outputDecrypt">@Text.DecryptedText</label>
                <textarea readonly class="form-control" rows="5" id="outputDecrypt"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="col-md-6">
            <button style="margin-top: 5px" class="btn btn-primary" id="decryptButton" type="submit">@Text.Decrypt</button>
        </span>
    </div>

</div>

<script>
        //Ajax
    var playfairInit = PlayfairCipherInit({
        urls: {
            encryptUrl: '@Url.Action("PlayfairEncrypt", "ClassicalCiphers")',
            decryptUrl: '@Url.Action("PlayfairDecrypt", "ClassicalCiphers")'
        }
    });

    playfairInit.init();
</script>