<div class="container">
<div class="col-lg-12">

<div class="col-lg-6">
    <div class="row">
        <div class="col-lg-12">
            <h2 align="center">@Text.Encryptor</h2>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="row">
        <div class="col-lg-12">
            <h2 align="center">@Text.Decryptor</h2>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <label for="algorithmSelectEncrypt">@Text.Algorithm</label>
    <select id="algorithmSelectEncrypt" class="form-control">
        <option value="DES">DES</option>
        <option value="3DES">3DES</option>
        <option value="AES">AES</option>
        <option value="Blowfish">Blowfish</option>
    </select>
</div>
<div class="col-lg-3">
    <label for="algorithmSelectModeEncrypt">@Text.EncryptMode</label>
    <select id="algorithmSelectModeEncrypt" class="form-control">
        <option value=0>CBC</option>
        <option value=1>CFB</option>
        <option value=2>ECB</option>
        <option value=3>OFB</option>
    </select>
</div>
<div class="col-lg-3">
    <label for="algorithmSelectDecrypt">@Text.Algorithm</label>
    <select id="algorithmSelectDecrypt" class="form-control">
        <option value="DES">DES</option>
        <option value="3DES">3DES</option>
        <option value="AES">AES</option>
        <option value="Blowfish">Blowfish</option>
    </select>
</div>
<div class="col-lg-3">
    <label for="algorithmSelectModeDecrypt">@Text.EncryptMode</label>
    <select id="algorithmSelectModeDecrypt" class="form-control">
        <option value=0>CBC</option>
        <option value=1>CFB</option>
        <option value=2>ECB</option>
        <option value=3>OFB</option>
    </select>
</div>
<div class="col-lg-6">
    <div class="row">
        <div class="col-lg-12">
            <label for="KeyLengthEncrypt">@Text.KeyLength</label>
            <fieldset id="KeyLengthEncrypt">
                <input type="radio" name="keyLengthEncrypt" value="128" checked>
                <text>128</text>
                <input type="radio" name="keyLengthEncrypt" value="192">
                <text>192</text>
                <input type="radio" name="keyLengthEncrypt" value="256">
                <text>256</text>
            </fieldset>
            <div class="input-group">
                <input placeholder="Klucz" id="keyEncrypt" class="form-control" type="text"/>
                <span class="input-group-btn">
                    <button class="btn btn-success">Losuj</button>
                </span>
            </div>
            <fieldset>
                <input type="radio" name="keyFormatEncrypt" value=4 checked>
                <text>Integer</text>
                <input type="radio" name="keyFormatEncrypt" value=1>
                <text>Hex</text>
                <input type="radio" name="keyFormatEncrypt" value=2>
                <text>Binary string</text>
            </fieldset>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input placeholder="Wektor inicjujący" id="IVEncrypt" class="form-control" type="text"/>
                <span class="input-group-btn">
                    <button class="btn btn-success">Losuj</button>
                </span>
            </div>
            <fieldset>
                <input type="radio" name="IVFormatEncrypt" value=4 checked>
                <text>Integer</text>
                <input type="radio" name="IVFormatEncrypt" value=1>
                <text>Hex</text>
                <input type="radio" name="IVFormatEncrypt" value=2>
                <text>Binary string</text>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-lg-12">
                <br/>
                <fieldset>
                    <input type="radio" name="encryptInputMode" value="text" checked/>
                    <text>Tekst</text>
                    <input type="radio" name="encryptInputMode" value="file"/>
                    <text>Plik</text>
                </fieldset>
                <div id="textPanelEncrypt">
                    <textarea placeholder="@Text.WriteTextToEncrypt" class="form-control" rows="5" id="inputEncrypt"></textarea>
                    
                    <fieldset>
                        <input type="radio" name="inputFormatEncrypt" value="ASCII" checked>
                        <text>ASCII</text>
                        <input type="radio" name="inputFormatEncrypt" value="Hex">
                        <text>Hex</text>
                        <input type="radio" name="inputFormatEncrypt" value="BinaryString">
                        <text>BinaryString</text>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div id="filePanelEncrypt" style="display: none">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Wczytaj plik&hellip; <input id="fileEncrypt" type="file" style="display: none;">
                        </span>
                    </label>
                    <input id="FilenameToEncrypt" type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <button id="encryptButton" class="btn btn-primary">@Text.Encrypt</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <textarea placeholder="@Text.EncryptedText" class="form-control" rows="5" id="outputEncrypt"></textarea>
        </div>
    </div>
</div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <label for="KeyLengthDecrypt">@Text.KeyLength</label>
                <fieldset id="KeyLengthDecrypt">
                    <input type="radio" name="keyLengthDecrypt" value="128" checked>
                    <text>128</text>
                    <input type="radio" name="keyLengthDecrypt" value="192">
                    <text>192</text>
                    <input type="radio" name="keyLengthDecrypt" value="256">
                    <text>256</text>
                </fieldset>
                <div class="input-group">
                    <input placeholder="Klucz" id="keyDecrypt" class="form-control" type="text"/>
                    <span class="input-group-btn">
                        <button id="btnRandomKeyDecrypt" class="btn btn-success">Losuj</button>
                    </span>
                </div>

                <fieldset>
                    <input type="radio" name="keyFormatDecrypt" value=4 checked>
                    <text>Integer</text>
                    <input type="radio" name="keyFormatDecrypt" value=1>
                    <text>Hex</text>
                    <input type="radio" name="keyFormatDecrypt" value=2>
                    <text>Binary string</text>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="input-group">
                    <input placeholder="Wektor inicjujący" id="IVDecrypt" class="form-control" type="text"/>
                    <span class="input-group-btn">
                        <button class="btn btn-success">Losuj</button>
                    </span>
                </div>
                <fieldset>
                    <input type="radio" name="IVFormat" value=4 checked>
                    <text>Integer</text>
                    <input type="radio" name="IVFormat" value=1>
                    <text>Hex</text>
                    <input type="radio" name="IVFormat" value=2>
                    <text>Binary string</text>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-12">
                    <br/>
                    <fieldset>
                        <input type="radio" name="decryptInputMode" value="text" checked/>
                        <text>Tekst</text>
                        <input type="radio" name="decryptInputMode" value="file"/>
                        <text>Plik</text>
                    </fieldset>
                    <div id="textPanelDecrypt">
                        <textarea placeholder="@Text.WriteTextToDecrypt" class="form-control" rows="5" id="inputDecrypt"></textarea>
                        <fieldset>
                            <input type="radio" name="inputFormat" value=3 checked>
                            <text>Base64</text>
                            <input type="radio" name="inputFormat" value=1>
                            <text>Hex</text>
                            <input type="radio" name="inputFormat" value=2>
                            <text>BinaryString</text>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div id="filePanelDecrypt" style="display: none">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Wczytaj plik&hellip; <input id="fileDecrypt" type="file" style="display: none;">
                            </span>
                        </label>
                        <input id="FilenameToDecrypt" type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <button id="decryptButton" class="btn btn-primary">@Text.Decrypt</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <textarea placeholder="@Text.DecryptedText" class="form-control" rows="5" id="outputDecrypt"></textarea>
            </div>
        </div>
    </div>
</div>
</div>

<script>

    $(document).ready(function() {

        var blockCiphersInit = BlockCiphersInit({
            urls: {
                encryptUrl: '@Url.Action("AesEncrypt", "BlockCiphers")',
                decryptUrl: '@Url.Action("AesDecrypt", "BlockCiphers")'
            }
        });

        blockCiphersInit.init();

    });

</script>

