@model CryptoWebService.Models.Quiz.ViewModel.QuizzesListViewModel

@{
    ViewData["Title"] = Model.CategoryName;
}
<input hidden id="categoryId" value="@Model.CategoryId" />

<div class="container">
    <h2 class="text-center" style="color: #1c5aa6; margin-bottom:20px;">
        lista quizów z kategorii:
        <label>
            @Model.CategoryName
        </label>
    </h2>
    <div class="text-center alert col-lg-12 alert-danger" role="alert" id="alertPanel" style="display:none;">
    </div>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th class="MyStyle">
                    nazwa quizu
                </th>
                <th class="text-center MyStyle">
                    liczba pytań
                </th>
                <th>

                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th class="text-center MyStyle">
                        funkcje administratora
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Quizzes)
            {
                <tr style="font-size:18px">
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)

                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NumberOfQuestions)
                    </td>
                    <td class="text-center">
                        @{
                            if (item.NumberOfQuestions <= 0)
                            {
                                <input type="button" class="btn btn-primary" disabled value="Rozwiąż !">
                            }
                            else
                            {
                                <a href="@("./"+Model.SecondCategoryName+ "/" + item.QuizNumber)">
                                    <input type="button" class="btn btn-primary" value="Rozwiąż !">
                                </a>
                            }
                        }
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td class="text-center">
                            <a href="@("./"+Model.SecondCategoryName+ "/" + item.QuizNumber+"?edit=true")" class="glyphicon glyphicon-pencil" title="edytuj quiz"></a>

                            @if (item.NumberOfQuestions == 0)
                            {
                                <label style="margin:0px 5px"></label>
                                <a data-toggle="modal" data-target="@(".ModalId_"+item.Id)" class="glyphicon glyphicon-trash" title="usuń quiz"></a>
                                <div class="modal fade @("ModalId_"+item.Id)" id="@("ModalId_"+item.Id)">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close">
                                                    <span>&times;</span>
                                                </button>
                                                <div class="modal-title">
                                                    Potwierdzenie
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Czy na pewno chcesz usunąć quiz ?
                                                </p>
                                                <p>
                                                    "@item.QuizName"
                                                </p>

                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" onclick="@("deleteQuiz("+item.Id+")")">
                                                    Tak, Usuń
                                                </button>
                                                <button class="btn btn-default" data-dismiss="modal">
                                                    Anuluj
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th class="text-center MyStyle">
                        <a data-toggle="modal" data-target=".addQuizModal" class="MyStyle" title="dodaj quiz">dodaj quiz <div class="glyphicon glyphicon-plus "></div></a>

                        <div class="modal fade addQuizModal" id="addQuizModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close">
                                            <span>&times;</span>
                                        </button>
                                        <div class="modal-title">
                                            tworzenie quizu
                                        </div>
                                    </div>
                                    <div class="modal-body" style="height:60px;">
                                        <div class="form-group">
                                            <div class="col-lg-3">
                                                <label for="addingQuizName">nazwa quizu</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <input class="form-control" id="addingQuizName" placeholder="nazwa quizu" autofocus>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" onclick="@("addQuiz()")">
                                            Utwórz quiz
                                        </button>
                                        <button class="btn btn-default" data-dismiss="modal">
                                            Anuluj
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                }
            </tr>
        </tfoot>
    </table>
</div>

<script>

    $(function () {
        $('#addingQuizName').keypress(function (e) {
            if (e.which == 10 || e.which == 13) {
                addQuiz();
            }
        });
    });

    function onSucces(response) {
        location.reload();
    }

    function onError(response) {
        showAlert(response)
    }

    function showAlert(response) {
        $('#alertPanel').show();
        $('#alertPanel').text(response.message);
    }

    function hideAlert() {
        $('#alertPanel').hide();
    }

    function addQuiz() {

        var addingQuizName = document.getElementById('addingQuizName').value;
        var CategoryId = document.getElementById("categoryId").value;

        var model =  {
            CategoryId: CategoryId,
            QuizName: addingQuizName
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreateQuiz")',
            data: JSON.stringify(model),
            dataType: 'json',
            contentType: "application/json",
            beforeSend: function () {
                hideAlert();
            },
            success: function (response) {
                if (response.result == true) {
                    $('#addQuizModal').modal('hide');
                    onSucces(response);
                } else {
                    $('#addQuizModal').modal('hide');
                    onError(response);
                }
            },
            error: function (response) {
                onError("AJAX ERROR" + response);
            }
        });
    }

    function deleteQuiz(quizId) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteQuiz")',
            data: JSON.stringify(quizId),
            dataType: 'json',
            contentType: "application/json",
            beforeSend: function () {
                hideAlert();
            },
            success: function (response) {
                if (response.result == true) {
                    $('#ModalId_' + quizId).modal('hide');
                    
                    onSucces(response);
                } else {
                    $('#ModalId_' + quizId).modal('hide');
                    onError(response);
                }
            },
            error: function (response) {
                onError("AJAX ERROR" + response);
            }
        });
    }
</script>

<style>
    .MyStyle {
        color: #1c5aa6;
        font-size: 18px;
    }

    table tbody tr td {
        border-bottom: 1px solid #1c5aa6;
    }

    .table thead tr th {
        border-bottom: 2px solid #1c5aa6;
    }

    .table tbody tr td {
        vertical-align: middle;
    }
</style>