@model IEnumerable<CryptoWebService.Models.Quiz.Dto.CategoryDto>

@{
    ViewData["Title"] = "quiz";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="MyStyle">
                    nazwa kategorii
                </th>
                <th class="text-center MyStyle">
                    liczba dostepnych quizów
                </th>
                @*@if (User.Identity.IsAuthenticated)
                {
                    <th class="text-center MyStyle">
                        funkcje administratora
                    </th>
                }*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size:18px;">
                    <td>
                        <a asp-action="@item.SecondCategoryName">@item.CategoryName</a>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NumberOfQuizzes)
                    </td>
                    @*@if (User.Identity.IsAuthenticated)
                    {
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="glyphicon glyphicon-pencil"></a>
                            @if (item.NumberOfQuizzes == 0*)
                            {
                                <label style="margin:0px 5px"></label>
                                <a data-toggle="modal" data-target="@(".ModalId_"+item.Id)" class="glyphicon glyphicon-trash" title="usuń kategorie"></a>
                                <div class="modal fade @("ModalId_"+item.Id)" id="@("ModalId_"+item.Id)">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close">
                                                    <span>&times;</span>
                                                </button>
                                                <div class="modal-title">
                                                    Potwierdzenie
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Czy na pewno chcesz usunąć kategorie ?
                                                </p>
                                                <p>
                                                    "@item.CategoryName"
                                                </p>

                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" onclick="@("deleteCategory("+item.Id+")")">
                                                    Tak, Usuń
                                                </button>
                                                <button class="btn btn-default" data-dismiss="modal">
                                                    Anuluj
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    }*@
                </tr>
            }
        </tbody> 
    </table>
</div>

<style>
    .MyStyle {
        color: #1c5aa6;
        font-size:18px;
    }

    table tbody tr td {
        border-bottom: 1px solid #1c5aa6
    }
    .table thead tr th {
        border-bottom: 2px solid #1c5aa6
    }
    .table tbody tr td {
        vertical-align: middle;
    }
</style>
