@model CryptoWebService.Models.Quiz.ViewModel.QuizzesListViewModel

@{
    ViewData["Title"] = Model.CategoryName;
}


<div class="container">
    <h2 class="text-center" style="color: #1c5aa6; margin-bottom:20px;">
        lista quizów z kategorii: 
        <label>
            @Model.CategoryName
        </label>
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th class="MyStyle">
                    nazwa quizu
                </th>
                <th class="text-center MyStyle">
                    liczba pytań
                </th>
                <th>

                </th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th class="text-center MyStyle">
                        funkcje administratora
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Quizzes)
            {
                <tr style="font-size:18px">
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)
                        
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NumberOfQuestions)
                    </td>
                    <td class="text-center">
                        @{
                            if (item.NumberOfQuestions <= 0)
                            {
                                <input type="button" class="btn btn-primary" disabled value="Rozwiąż !">
                            }
                            else
                            {
                                <a href="@("./"+Model.SecondCategoryName+ "/" + item.QuizNumber)">
                                    <input type="button" class="btn btn-primary" value="Rozwiąż !">
                                </a>
                            }
                        }
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="glyphicon glyphicon-pencil"></a>
                            @if (item.NumberOfQuestions == 0)
                            {
                                <label style="margin:0px 5px"></label>
                                <a data-toggle="modal" data-target=".bootstrapmodal" class="glyphicon glyphicon-trash"></a>
                                <div class="modal fade bootstrapmodal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button>
                                                    czy na pewno?
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            }
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .MyStyle {
        color: #1c5aa6;
        font-size: 18px;
    }

    table tbody tr td {
        border-bottom: 1px solid #1c5aa6;
    }

    .table thead tr th {
        border-bottom: 2px solid #1c5aa6; 
    }

    .table tbody tr td {
        vertical-align: middle;
    }
</style>